.container {
    min-height: 0px;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.footer {
    width: 100%;
    /* height: 100px; */
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    height: 60px;
}