.container {
    padding: 2em 1em 1em;
    text-align: center;
}

.heading {
    font-size: 2em;
    font-family: Oswald, Chivo, 'Segoe UI', sans-serif;
    margin: 1%;
}

.table {
    text-align: left;
    font-size: 1.3em;
    color: rgb(60, 65, 70);
    margin: 3%;
    width: 100%;
}

.tableNameCell {
    color: rgb(31, 31, 31);
    font-size: 1.2rem;
    font-weight: 600;
    height: 2em;
    width: 50%;
    text-align: left;
}

.tableInfoCell {
    width: 50%;
    font-size: 1.1rem;
    padding-left: 5%;
}

.titleUnderline {
    width: 75px;
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 2.5em 15%;
        text-align: center;
    }
    .heading {
        font-size: 2em;
        font-family: Oswald, Chivo, 'Segoe UI', sans-serif;
        margin: 1%;
    }
    .table {
        text-align: left;
        font-size: 1.3em;
        color: rgb(60, 65, 70);
        margin: 3%;
        width: 100%;
    }
    .tableNameCell {
        color: rgb(31, 31, 31);
        font-weight: 600;
        height: 2em;
        padding-left: 10%;
        width: 50%;
        text-align: left;
    }
    .tableInfoCell {
        width: 50%;
        padding-left: 5%;
    }
    .titleUnderline {
        width: 75px;
    }
}

@media only screen and (min-width: 1300px) {
    .tableNameCell {
        padding-left: 20%;
    }
}