.container {
    min-height: 0px;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.spacer {
    height: 60px;
}