.container {
    padding: 2.5% 15%;
    text-align: center;
}

.heading {
    font-size: 2em;
    font-family: Oswald, Chivo, 'Segoe UI', sans-serif; 
    margin: 1%;
}

.content {
    text-align: justify;
    font-size: 1.3em;
    color: rgb(86, 93, 100);
    margin: 3%;
}

.titleUnderline {
    width: 75px;
}