.container {
    width: 100%;
    padding: 3em 10% 2em;
    background-color: #9ED8D5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container h3 {
    margin: 0;
}

.AddressSection {
    padding: 1em 0;
    width: 100%;
}

.ContactsSection {
    padding: 1em 0;
    width: 100%;
}

.heading1 {
    font-size: 1.3em;
    text-align: left;
}

.heading2 {
    font-size: 1.3em;
    text-align: left;
}

.address {
    padding-top: 1%;
    font-size: 1em;
}

.address b {
    font-weight: 600;
}

.contactInfo {
    padding-top: 1%;
    text-align: left;
    margin: 0;
}

.contactRow {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.contactDetail {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    padding-right: 10px;
}

.email {
    color: #003b7e;
    margin: 0;
}

.email:hover, .email:active, .email:focus {
    text-decoration: underline;
}

.credit {
    color: #79b1ad;
    text-align: center;
    font-size: 1em;
    width: 100%;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 3em 10% 2em;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #9ED8D5;
    }
    .container h3 {
        margin: 0;
    }
    .AddressSection {
        width: 50%;
    }
    .ContactsSection {
        width: 50%;
    }
    .heading1 {
        font-size: 1.75em;
        text-align: left;
    }
    .heading2 {
        font-size: 1.75em;
        text-align: right;
    }
    .address {
        padding-top: 1%;
        font-size: 1.3em;
    }
    .contactInfo {
        padding-top: 1%;
        text-align: right;
        margin: 0;
    }
    .contactRow {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-end;
    }
    .contactDetail {
        font-size: 1.2em;
        font-weight: 600;
        margin: 0;
        padding-right: 10px;
    }
    .email {
        color: #003b7e;
        margin: 0;
    }
    .email:hover, .email:active, .email:focus {
        text-decoration: underline;
    }
    .credit {
        color: #79b1ad;
        text-align: center;
        font-size: 1em;
        width: 100%;
        margin: 0;
    }
}