.container {
    margin: 3% 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.05);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 0px 15px;
    padding-right: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.container:hover,
.container:active,
.container:focus {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.name {
    color: rgb(50, 50, 50);
    width: 14em;
    padding-left: .5em;
    /* To make the text unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon {
    padding: 0px 5px;
    padding-top: 5px;
    margin: auto;
    align-items: baseline;
    /* To make the text unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}