.container {
    padding: 2.5em 0;
    width: 100%;
}

.heading {
    text-align: center;
    font-size: 2em;
    font-family: Oswald, Chivo, 'Segoe UI', sans-serif;
    margin: 1%;
}

.titleUnderline {
    width: 75px;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 768px)  {
    .container {
        padding: 2.5em 0;
        width: 100%;
    }
    
    .heading {
        text-align: center;
        font-size: 2em;
        font-family: Oswald, Chivo, 'Segoe UI', sans-serif;
        margin: 1%;
    }
    
    .titleUnderline {
        width: 75px;
    }
    
    .cardContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}